// Alert specific styles
	.modal-content{
		&.alert {
			h2{
				font-size: px2rem(20);
				text-align: center;
				border-bottom: 2px solid $brand-black;
				font-weight: 500;
				color: $brand-black;
			}
			p{
				text-align: center;
				min-height: px2rem(100);
				word-wrap: break-word;
			}

			// Responsive Styles
			@media (min-width: $screen-sm) { // 480px
				width: 75%;
			}
			@media (min-width: $screen-md) { // 768px
				width: 50%;
			}
			@media (min-width: $screen-lg) { // 1024px
				width: 25%;
			}
		}
	}


