//
// Base Stylings
// --------------------------------------------------


// Body reset
// -------------------------
	html {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		font-size: $font-size;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@media screen and (min-width: $viewport-m) and (max-width: $viewport-l) {
			font-size: $font-size-m;
		}

		@media screen and (min-width: $viewport-l) {
			font-size: $font-size-l;
		}
	}
	* {
		@include box-sizing(border-box);
	}
	*:before,
	*:after {
		@include box-sizing(border-box);
	}

	body {
		padding: 45px 0;
		font-family: $font-family;
		font-weight: $font-weight;
		line-height: 1.85;
		color: $font-color;
		background: $body-bg;
	}
	@include selection {
		color: color("shades","white");
		background: color("red");
	}

	a {
		@include transition(all 0.3s);
		color: $link-color;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active {
			color: darken($link-color, 10%);
		}
	}

	p code, ul code {
		padding: 0 5px;
		background: color("grey", "darken-3");
		color: color("grey", "darken-1");
	}

	ul {
		margin: 0;
		padding: 0;
	}
