//
// Buttons
// --------------------------------------------------

// Button sizes
	@mixin button-size($padding-vertical, $padding-horizontal, $font-size: $font-size, $line-height: 1, $border-radius: 0) {
		padding: $padding-vertical $padding-horizontal;
		font-size: $font-size;
		line-height: $line-height;
		// border-radius: $border-radius;
	}
	@mixin button-variant($background: color("green"), $color: color("shades","white"), $border: $background) {
		color: $color;
		background-color: $background;
		border-color: $border;

		&:hover,
		&:focus,
		&:active {
			color: $color;
			background-color: darken($background, 10%);
			border-color: darken($border, 12%);
		}
	}

// Base styles
// --------------------------------------------------
	[class^="btn-"], [class*=" btn-"] {
		@include transition("all 0.2s");
		@include button-size($padding-base-vertical, $padding-base-horizontal, 20px);
		@include user-select(none);
		display: inline-block;
		margin-bottom: 0; // For input.btn
		font-weight: $font-weight;
		font-family: $font-helv67;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		cursor: pointer;
		background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
		border: 1px solid transparent;
		white-space: nowrap;
		outline: none;

		i {
			font-size: 18px
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}

		&:active,
		&.active {
			outline: 0;
			background-image: none;
		}

		&.disabled,
		&[disabled],
		fieldset[disabled] & {
			@include box-shadow(none);
			opacity: .65;
			cursor: not-allowed;
			pointer-events: none; // Future-proof disabling of clicks
		}
		border-radius: 2px;

		&.bd {
			border: 1px solid rgba(0,0,0,0.2)
		}
	}

// Alternate buttons
// --------------------------------------------------
	.btn-default {
		@include button-variant(color("blue","base"), color("shades","white"));
	}
	.btn-black {
		@include button-variant(#636363);
	}
	.btn-blue {
		@include button-variant(color("blue"));
	}
	.btn-red {
		@include button-variant(color("red"));
	}
	.btn-orange {
		@include button-variant(color("orange"));
	}
	.btn-green {
		@include button-variant(color("green"));
	}
	.btn-link {
		@include button-variant(transparent,$link-color);
		&:hover { text-decoration: underline; }
	}

// Sizes
// --------------------------------------------------
	.btn-lg {
		@include button-size($padding-large-vertical, $padding-large-horizontal);
	}
	.btn-sm {
		@include button-size($padding-small-vertical, $padding-small-horizontal);
	}
	.btn-xs {
		@include button-size($padding-xs-vertical, $padding-xs-horizontal);
	}
	.btn-block {
		display: block;
		width: 100%;
		& + .btn-block { margin-top: px2rem(2px) }
	}

