//
// Fonts
// --------------------------------------------------

@font-face {
    font-family: 'bebas_modregular';
    src: url('#{$font-path}/bebasRegular/bebasmod-regular-webfont.eot');
    src: url('#{$font-path}/bebasRegular/bebasmod-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/bebasRegular/bebasmod-regular-webfont.woff') format('woff'),
        url('#{$font-path}/bebasRegular/bebasmod-regular-webfont.ttf') format('truetype'),
        url('#{$font-path}/bebasRegular/bebasmod-regular-webfont.svg#bebas_modregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yellow-modregular';
    src: url('#{$font-path}/yellowTailRegular/yellow-mod-regular-webfont.eot');
    src: url('#{$font-path}/yellowTailRegular/yellow-mod-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/yellowTailRegular/yellow-mod-regular-webfont.woff') format('woff'),
        url('#{$font-path}/yellowTailRegular/yellow-mod-regular-webfont.ttf') format('truetype'),
        url('#{$font-path}/yellowTailRegular/yellow-mod-regular-webfont.svg#yellow-modregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'TrajanProRegular';
    src: url('#{$font-path}/TrajanPro/trajanpro-regular-webfont.eot');
    src: url('#{$font-path}/TrajanPro/trajanpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/TrajanPro/trajanpro-regular-webfont.woff') format('woff'),
         url('#{$font-path}/TrajanPro/trajanpro-regular-webfont.ttf') format('truetype'),
         url('#{$font-path}/TrajanPro/trajanpro-regular-webfont.svg#TrajanProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'HelveticaNeue57Condensed';
    src: url('#{$font-path}/helveticaNeue57Cond/helveticaneue-condensed-webfont.eot');
    src: url('#{$font-path}/helveticaNeue57Cond/helveticaneue-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/helveticaNeue57Cond/helveticaneue-condensed-webfont.woff') format('woff'),
         url('#{$font-path}/helveticaNeue57Cond/helveticaneue-condensed-webfont.ttf') format('truetype'),
         url('#{$font-path}/helveticaNeue57Cond/helveticaneue-condensed-webfont.svg#HelveticaNeue57Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'HelveticaNeue67MdCn';
    src: url('#{$font-path}/helveticaNeue67MedCond/helveticaneue-mediumcond-webfont.eot');
    src: url('#{$font-path}/helveticaNeue67MedCond/helveticaneue-mediumcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/helveticaNeue67MedCond/helveticaneue-mediumcond-webfont.woff') format('woff'),
         url('#{$font-path}/helveticaNeue67MedCond/helveticaneue-mediumcond-webfont.ttf') format('truetype'),
         url('#{$font-path}/helveticaNeue67MedCond/helveticaneue-mediumcond-webfont.svg#HelveticaNeue67MdCn') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'HelveticaNeue47LightCondensed';
    src: url('#{$font-path}/helveticaNeue47LightCond/helveticaneue-lightcond-webfont.eot');
    src: url('#{$font-path}/helveticaNeue47LightCond/helveticaneue-lightcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/helveticaNeue47LightCond/helveticaneue-lightcond-webfont.woff') format('woff'),
         url('#{$font-path}/helveticaNeue47LightCond/helveticaneue-lightcond-webfont.ttf') format('truetype'),
         url('#{$font-path}/helveticaNeue47LightCond/helveticaneue-lightcond-webfont.svg#HelveticaNeue47LightCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'HelveticaNeue25UltraLight';
    src: url('#{$font-path}/helveticaNeueUltraLight/helveticaneue-ultralight-webfont.eot');
    src: url('#{$font-path}/helveticaNeueUltraLight/helveticaneue-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/helveticaNeueUltraLight/helveticaneue-ultralight-webfont.woff') format('woff'),
         url('#{$font-path}/helveticaNeueUltraLight/helveticaneue-ultralight-webfont.ttf') format('truetype'),
         url('#{$font-path}/helveticaNeueUltraLight/helveticaneue-ultralight-webfont.svg#HelveticaNeue25UltraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'HelveticaNeue37LightCondensed';
    src: url('#{$font-path}/helveticaNeue37ThinCond/HelveticaNeue37LightCondensed-webfont.eot');
    src: url('#{$font-path}/helveticaNeue37ThinCond/HelveticaNeue37LightCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/helveticaNeue37ThinCond/HelveticaNeue37LightCondensed-webfont.woff') format('woff'),
         url('#{$font-path}/helveticaNeue37ThinCond/HelveticaNeue37LightCondensed-webfont.ttf') format('truetype'),
         url('#{$font-path}/helveticaNeue37ThinCond/HelveticaNeue37LightCondensed-webfont.svg#helveticaneuelt_std_thin_cnRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('#{$font-path}/helveticaNeue75Bold/helveticaneue-bold-webfont.eot');
    src: url('#{$font-path}/helveticaNeue75Bold/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/helveticaNeue75Bold/helveticaneue-bold-webfont.woff') format('woff'),
         url('#{$font-path}/helveticaNeue75Bold/helveticaneue-bold-webfont.ttf') format('truetype'),
         url('#{$font-path}/helveticaNeue75Bold/helveticaneue-bold-webfont.svg#helveticaneue-bold-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family:'HelveticaNeue35Thin';
	src: url('#{$font-path}/helveticaNeue35Thin/helveticaneuethin.eot');
	src: url('#{$font-path}/helveticaNeue35Thin/helveticaneuethin.eot?#iefix') format('embedded-opentype'),
			 url('#{$font-path}/helveticaNeue35Thin/helveticaneuethin.woff') format('woff'),
			 url('#{$font-path}/helveticaNeue35Thin/helveticaneuethin.ttf') format('truetype'),
			 url('#{$font-path}/helveticaNeue35Thin/helveticaneuethin.svg#helveticaneuethin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family:'HelveticaNeue77BoldCondensed';
    src: url('#{$font-path}/helveticaNeue77BoldCond/helveticaneue-boldcond-webfont.eot');
    src: url('#{$font-path}/helveticaNeue77BoldCond/helveticaneue-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/helveticaNeue77BoldCond/helveticaneue-boldcond-webfont.woff') format('woff'),
         url('#{$font-path}/helveticaNeue77BoldCond/helveticaneue-boldcond-webfont.ttf') format('truetype'),
         url('#{$font-path}/helveticaNeue77BoldCond/helveticaneue-boldcond-webfont.svg#HelveticaNeue77BoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'steelfishregular';
    src: url('#{$font-path}/steelFish/steelfish_rg-webfont.eot');
    src: url('#{$font-path}/steelFish/steelfish_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/steelFish/steelfish_rg-webfont.woff2') format('woff2'),
         url('#{$font-path}/steelFish/steelfish_rg-webfont.woff') format('woff'),
         url('#{$font-path}/steelFish/steelfish_rg-webfont.ttf') format('truetype'),
         url('#{$font-path}/steelFish/steelfish_rg-webfont.svg#steelfishregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'sri-icons';
	src:url('#{$font-path}/wifi-icons/fonts/wifi-icons.eot?maec8q');
	src:url('#{$font-path}/wifi-icons/fonts/wifi-icons.eot?#iefixmaec8q') format('embedded-opentype'),
		url('#{$font-path}/wifi-icons/fonts/wifi-icons.woff?maec8q') format('woff'),
		url('#{$font-path}/wifi-icons/fonts/wifi-icons.ttf?maec8q') format('truetype'),
		url('#{$font-path}/wifi-icons/fonts/wifi-icons.svg?maec8q#wifi-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
