//
// Controls used in Forms
// --------------------------------------------------


// Base
// -------------------------
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="search"] {
		@include transition(all .2s);
		// @include box-shadow(inset 1px 1px 3px 1px rgba(0,0,0,.4));
		// .placeholder(@line-height: 100%);
		display: block;
		width: 100%;
		height: px2rem(40px); // Make inputs at least the height of their button counterpart (base line-height + padding + border)
		padding:px2rem(10px);
		font-size: px2rem(17px);
		line-height: 1;
		color: #636363;
		background-color: white;
		background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
		border: 1px solid #ccc;
		border-radius: 5px;
		outline: none;
		// margin-bottom: 20px; // Remove
		&:focus {
			border: 1px solid darken(#f4f4f4,15%);
		}

		// Placeholder
		// .placeholder();

		// Disabled and read-only inputs
		&[disabled],
		&[readonly],
		fieldset[disabled] & {
			cursor: default;
			opacity: 1; // iOS fix for unreadable disabled content
			color: color("blue");
		}
		// Reset height for `textarea`s
		&.invalid {
			border-color: color("red") !important;
		}
	}
	textarea {
		height: auto;
		resize:vertical;
	}