//
// Icons
// --------------------------------------------------

[class^="icon-"], [class*=" icon-"], .icon {
	font-family: "sri-icons";
	speak: none;
	font-size:24px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-sandals:before {
	content: "\e652";
}

.icon-activities:before {
	content: "\e600";
}

.icon-arrow-down:before {
	content: "\e601";
}

.icon-arrow-left:before {
	content: "\e602";
}

.icon-arrow-right:before {
	content: "\e603";
}

.icon-arrow-up:before {
	content: "\e604";
}

.icon-arrow:before {
	content: "\e605";
}

.icon-beaches:before {
	content: "\e606";
}

.icon-best-price:before {
	content: "\e607";
}

.icon-bullet:before {
	content: "\e608";
}

.icon-butler-elite:before {
	content: "\e609";
}

.icon-butler:before {
	content: "\e60a";
}

.icon-cal:before {
	content: "\e60b";
}

.icon-camera:before {
	content: "\e60c";
}

.icon-chat:before {
	content: "\e60d";
}

.icon-check:before {
	content: "\e60e";
}

.icon-check2:before {
	content: "\e60f";
}

.icon-checkin:before {
	content: "\e610";
}

.icon-checkout:before {
	content: "\e611";
}

.icon-close:before {
	content: "\e612";
}

.icon-compass:before {
	content: "\e613";
}

.icon-dan:before {
	content: "\e614";
}

.icon-details-arrivals:before {
	content: "\e615";
}

.icon-details-babysitting:before {
	content: "\e616";
}

.icon-details-bring:before {
	content: "\e617";
}

.icon-details-butler:before {
	content: "\e618";
}

.icon-details-charge:before {
	content: "\e619";
}

.icon-details-checkin:before {
	content: "\e61a";
}

.icon-details-currency:before {
	content: "\e61b";
}

.icon-details-departure:before {
	content: "\e61c";
}

.icon-details-dress:before {
	content: "\e61d";
}

.icon-details-electric:before {
	content: "\e61e";
}

.icon-details-gift:before {
	content: "\e61f";
}

.icon-details-handicap:before {
	content: "\e620";
}

.icon-details-laundry:before {
	content: "\e621";
}

.icon-details-medical:before {
	content: "\e622";
}

.icon-details-passport:before {
	content: "\e623";
}

.icon-details-private:before {
	content: "\e624";
}

.icon-details-requests:before {
	content: "\e625";
}

.icon-details-safe:before {
	content: "\e626";
}

.icon-details-scuba:before {
	content: "\e627";
}

.icon-details-tips:before {
	content: "\e628";
}

.icon-details-transfers:before {
	content: "\e629";
}

.icon-details-weather:before {
	content: "\e62a";
}

.icon-details-wifi:before {
	content: "\e62b";
}

.icon-details:before {
	content: "\e62c";
}

.icon-dining-diet:before {
	content: "\e62d";
}

.icon-divider:before {
	content: "\e62e";
}

.icon-dollar:before {
	content: "\e62f";
}

.icon-download:before {
	content: "\e630";
}

.icon-edit:before {
	content: "\e631";
}

.icon-english-butler:before {
	content: "\e632";
}

.icon-extras-butler:before {
	content: "\e633";
}

.icon-extras-concierge:before {
	content: "\e634";
}

.icon-extras-handicap:before {
	content: "\e635";
}

.icon-extras-lovenest:before {
	content: "\e636";
}

.icon-extras-private-transfer:before {
	content: "\e637";
}

.icon-extras-room-service:before {
	content: "\e638";
}

.icon-facebook:before {
	content: "\e639";
}

.icon-foundation:before {
	content: "\e63a";
}

.icon-fowlcay:before {
	content: "\e63b";
}

.icon-gplus:before {
	content: "\e63c";
}

.icon-grandpineapple:before {
	content: "\e63d";
}

.icon-grid:before {
	content: "\e63e";
}

.icon-handicap:before {
	content: "\e63f";
}

.icon-contact:before {
	content: "\e640";
}

.icon-laptop:before {
	content: "\e641";
}

.icon-press:before {
	content: "\e642";
}

.icon-rss:before {
	content: "\e643";
}

.icon-islandroutes:before {
	content: "\e644";
}

.icon-list:before {
	content: "\e645";
}

.icon-lovenest:before {
	content: "\e646";
}

.icon-mail:before {
	content: "\e647";
}

.icon-map:before {
	content: "\e648";
}

.icon-padi-learning:before {
	content: "\e649";
}

.icon-padi:before {
	content: "\e64a";
}

.icon-person:before {
	content: "\e64b";
}

.icon-photo:before {
	content: "\e64c";
}

.icon-pinterest:before {
	content: "\e64d";
}

.icon-plus:before {
	content: "\e64e";
}

.icon-privatevillas:before {
	content: "\e64f";
}

.icon-redlane:before {
	content: "\e650";
}

.icon-sandals-select:before {
	content: "\e651";
}

.icon-select:before {
	content: "\e653";
}

.icon-share:before {
	content: "\e654";
}

.icon-snapshots:before {
	content: "\e655";
}

.icon-square-check:before {
	content: "\e656";
}

.icon-tag:before {
	content: "\e657";
}

.icon-tri-down:before {
	content: "\e658";
}

.icon-tri-left:before {
	content: "\e659";
}

.icon-tri-right:before {
	content: "\e65a";
}

.icon-tri-up:before {
	content: "\e65b";
}

.icon-twitter:before {
	content: "\e65c";
}

.icon-users:before {
	content: "\e65d";
}

.icon-video:before {
	content: "\e65e";
}

.icon-vrx:before {
	content: "\e65f";
}

.icon-weddingmoons:before {
	content: "\e660";
}

.icon-wp-lazy:before {
	content: "\e661";
}

.icon-wp-pirate:before {
	content: "\e662";
}

.icon-wp-slide:before {
	content: "\e663";
}

.icon-wp-surf:before {
	content: "\e664";
}

.icon-zoom:before {
	content: "\e665";
}

