// Alert specific styles
	%spinner{
		background: white;
		display: inline-block;
		border-radius: 50%;
		position: relative;
		width: px2rem(30);
		height: px2rem(30);
		position: absolute;
		top: 0;
		// @include box-shadow(0 0 10px white)
	}
	.spinner-container{
		@include animation(rotate-spinner 2s infinite linear);
		margin-left: px2rem(30);
		position: relative;
		text-align: center;
		height: px2rem(55);
	}
	.spinner1{
		@extend %spinner;
		@include animation(spin-me 2s infinite linear);
	}
	.spinner2{
		@extend %spinner;
		@include animation(spin-me 2s infinite linear);
		@include animation-delay(-1.0s);
		top: auto;
		bottom: 0;
	}

	// Spinner animation
	@keyframes spin-me{
		0%,100%{ @include scale(0); }
		50%{ @include scale(1.0); }
	}
	@-webkit-keyframes spin-me {
		0%,100%{ @include scale(0); }
		50%{ @include scale(1.0); }
	}
	@-moz-keyframes spin-me {
		0%,100%{ @include scale(0); }
		50%{ @include scale(1.0); }
	}
	@-o-keyframes spin-me {
		0%,100%{ @include scale(0); }
		50%{ @include scale(1.0); }
	}

	// Spinner container animation
	@keyframes rotate-spinner{
		100%{ @include rotate(360deg);}
	}
	@-webkit-keyframes rotate-spinner {
		100%{ @include rotate(360deg);}
	}
	@-moz-keyframes rotate-spinner {
		100%{ @include rotate(360deg);}
	}
	@-o-keyframes rotate-spinner {
		100%{ @include rotate(360deg);}
	}