//
// Menu
// --------------------------------------------------


header.menu{
	width: 100%;
	background: white;
	z-index: 50;
	margin-bottom: px2rem(20);
	padding: px2rem(10px) 0 px2rem(5px) 0;
	.logo{
		display: inline-block;
		margin: 0 auto;
		font-size: px2rem(48px);
		color: $brand-blue;
	}
	.menu-icon{
		width: 55px;
		margin: 0 0 0 10px;
		cursor: pointer;
		display: inline-block;
		span{
			@include transition(all .2s linear);
			 @include transform-origin(0px 4px);
			height: 8px;
			background: $warning;
			width: 100%;
			margin-bottom: 4px;
			display: block;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&.close{
			position: fixed;
			right: 1rem;
			z-index: 1000;
			width: 30px;
			top: .5rem;
			span{

				-ms-transform: rotate(45deg) translate(2px, 2px);
				-moz-transform: rotate(45deg) translate(2px, 2px);
				-webkit-transform: rotate(45deg) translate(2px, 2px);
				transform: rotate(45deg) translate(2px, 2px);
				width: 100%;

				&:nth-child(2){
					opacity: 0;
				}
				&:nth-child(3){
					@include rotate(-45deg);
				}
			}
		}
	}
	nav{
		text-align: center;
		width: 100%;
		ul{
			width: 100%;
			height: 100%;
			padding: 0;
			margin: 0;
			display: none;
			position: relative;
			top: 0;
			li{
				display: block;
				list-style-type: none;
				opacity: 1;
				background: #1d75bd;
				height:25%;
				position: relative;
				margin:0;
				padding: 0;
				a{
					@include transition(all .2s);
					height: 100%;
					display: flex;
					display: -webkit-flex;
					align-items: center;
					justify-content: center;
					-webkit-justify-content: center;
					-webkit-align-items: center;
					-moz-justify-content: center;
					-moz-align-items: center;
					width: 100%;
					text-decoration: none;
					font-size: px2rem(16);
					cursor: pointer;
					&:hover, &:active{
						background: $gray-lighter;
					}
				}
				ul{
					display: none;
					position: absolute;
				}
			}
			&.menu-open{
				width: 100%;
				display: block;
				z-index: 300;
				position: fixed;
				li{
					@include animation(full-screen-menu);
					@for $i from 1 through 6 {
						&:nth-child(#{$i}) {
							@include animation-duration(0.2s * $i);
						}
					}
					ul.show{
						display: block !important;
						position: absolute;
						z-index: 500;
						li{
							position: relative;
							display: block;
							padding: 11% 0;
							background-color: #444444;
							a{
								width: 100%;
								display: block;
								position: absolute;
								top: 0;
								padding-top: 22px;
								&:hover{
									
								}
							}
						}
					}
				}
			}
		}
	}
	@media (min-width: $screen-md) { // 768px
		// background: #1d75bd;
		.logo { color: $blue; }
		.menu-icon{
			display: none;
		}
		nav{
			margin: 0 auto;
			display: block;
			width: 95%;
			.logo{
				float: left;
			}
			ul {
				padding: 0;
				margin: px2rem(18px) 0 0 0;
				display: block;
				height: auto;
				float: right;
				width: auto;
				li{
					display: inline-block;
					list-style-type: none;
					background: none;
					a{
						@include transition(all .2s);
						padding: px2rem(5) px2rem(13);
						display: inline-block;
						text-decoration: none;
						color: $font-color;
						font-size: px2rem(12) !important;
						cursor: pointer;
						&:hover{
							background: none;
						}
						&:last-child{
							margin-right: 0;
						}
					}
					ul{
						width: 200px;
						background: #1d75bd;
						padding: 0;
						margin: 0;
						position: absolute;
						z-index: 100;
						top: 37px;
						display: none;
						&.show{
							display: block;
						}
						li{
							display: inline-block;
							width: 100%;
							padding: 5px 0;
							border-top: 1px solid white;
							border-right: 1px solid white;
							border-left: 1px solid white;
							color: white;
							font-weight: normal;
							a{
								display: block;
								width: 100%;
								text-decoration: none;
								cursor: pointer;
							}
							&:last-child{
								border-bottom: 1px solid white;
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg) {
		nav{
			width: px2rem(960px);
		}
	}
	@media (min-width: $screen-xl) {
		nav{
			width: px2rem(1200px);
		}
	}
}
.sticky-header{
	position: fixed;
	top: 0;
	@include animation(menu-fall);
	@include animation-duration(0.3s)
}

	@keyframes full-screen-menu {
		0%   {  @include translate3d(0,100px, 0); opacity: 0; }
		100% {  @include translate3d(0, 0, 0); opacity: 1; }
	}
	@-webkit-keyframes full-screen-menu {
		0%   {  @include translate3d(0,100px, 0); opacity: 0; }
		100% {  @include translate3d(0, 0, 0); opacity: 1; }
	}
	@-moz-keyframes full-screen-menu {
		0%   {  @include translate3d(0,100px, 0); opacity: 0; }
		100% {  @include translate3d(0, 0, 0); opacity: 1; }
	}
	@-o-keyframes full-screen-menu {
		0%   {  @include translate3d(0,100px, 0); opacity: 0; }
		100% {  @include translate3d(0, 0, 0); opacity: 1; }
	}

	@keyframes menu-fall {
		0%   {  @include translate3d(0,-100px, 0); }
		100% {  @include translate3d(0, 0, 0); }
	}
	@-webkit-keyframes menu-fall {
		0%   {  @include translate3d(0,-100px, 0); }
		100% {  @include translate3d(0, 0, 0); }
	}
	@-moz-keyframes menu-fall {
		0%   {  @include translate3d(0,-100px, 0); }
		100% {  @include translate3d(0, 0, 0);  }
	}
	@-o-keyframes menu-fall {
		0%   {  @include translate3d(0,-100px, 0);  }
		100% {  @include translate3d(0, 0, 0);  }
	}

