//
// Notifications
// --------------------------------------------------

.ui-notification {
	@include transition(all ease 0.5s);
	position: fixed;
	top: -100px;
	z-index: 9999;
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	padding: 0 10px;
	width: 100%;
	color: white;
	text-align: center;
	display: none;
	background: color("blue","base");
	&.killed {
		@include transition(opacity ease 1s);
		opacity: 0;
	}
	& > h3 {
		display: block;
		margin: 10px 10px 0 10px;
		padding: 0 0 3px 0;
		// text-align: left;
		font-size: px2rem(18px);
		font-weight: bold;
		border-bottom: 1px solid rgba(255,255,255,.7);
	}
	& a {
		color: white;
		&:hover {
			text-decoration: underline;
		}
	}
	& > .message {
		margin: 5px;
	}
	&.warning {
		color: white;
		background: color("yellow","darken-3");
	}
	&.error {
		color: white;
		background: color("materialize-red","lighten-1");
	}
	&.success {
		color: white;
		background: color("green","base");
	}
	&.info {
		color: white;
		background: color("light-blue","lighten-1");
	}
	&:hover {
		opacity: 0.7;
	}
}
