//
// Utility classes
// --------------------------------------------------


// Quick floats
	.flt-right { float: right; }
	.flt-left { float: left; }
	.flt-none { float: none; }
	.clearfix { @include clearfix; }

// Toggling content
	.hide { display: none; }
	.show { display: block; }
	.invisible { visibility: hidden; }
	.muted { opacity: .7; }

// Positioning
	.affix { position: fixed; }
	.pr { position: relative; }
	.center { margin: auto auto; }
	.center-text{ text-align: center;}
	.right-text{ text-align: right;}
	.left-text{ text-align: left;}

// Inline Block
	.inline-block, .ib {
		display: inline-block;
		vertical-align: top;
	}

// Images
	.img-responsive { @include img-responsive; }
