//
// Variables
// --------------------------------------------------

// Paths
// -------------------------
	$assets_path: 				'/assets';
	$img-path: 					'#{$assets_path}/img';
	$font-path: 				'#{$assets_path}/fonts';

// Scaffolding
// -------------------------
	//** Background color for `<body>`.
	$body-bg:               color("grey","darken-4") !default;
	// Lighter grey color
	$bg-grey: 				lighten($body-bg, 1%) !default;
	//** Global text color on `<body>`.
	$text-color:            color("grey","darken-2") !default;

	//** Global textual link color.
	$link-color:            color("blue","base") !default;
	//** Link hover color set via `darken()` function.
	$link-hover-color:      darken($link-color, 15%) !default;
	//** Link hover decoration.
	$link-hover-decoration: underline !default;

	$border-radius: 3px !default;

	//== Typography
	$font-arial: 			  Arial, sans-serif !default;
	$font-family-sans-serif:  "Open Sans", sans-serif !default;
	$font-helv25:			  "HelveticaNeue25UltraLight", $font-family-sans-serif;
	$font-helv47:			  "HelveticaNeue47LightCondensed", $font-family-sans-serif;
	$font-helv57:			  "HelveticaNeue57Condensed", $font-family-sans-serif;
	$font-helv67:			  "HelveticaNeue67MdCn", $font-family-sans-serif;
	$font-helv77:			  "HelveticaNeue77BoldCondensed", $font-family-sans-serif;
	$font-trajan: 	  		  "TrajanProRegular", $font-family-sans-serif;
	$font-bebas: 			  "bebas_modregular", $font-family-sans-serif;
	$font-family: 			  $font-helv67 !default;

	$font-size: 			  16px !default;
	$font-size-m: 			  14px !default;
	$font-size-l: 			  14px !default;
	$font-weight: 			  400 !default;
	$font-color: 			  color("sandals","text") !default;

// Components
// -------------------------
	$padding-base-vertical:     12px !default;
	$padding-base-horizontal:   12px !default;

	$padding-large-vertical:    10px !default;
	$padding-large-horizontal:  16px !default;

	$padding-small-vertical:    5px !default;
	$padding-small-horizontal:  10px !default;

	$padding-xs-vertical:       1px !default;
	$padding-xs-horizontal:     5px !default;

	$border-radius-base:        4px !default;
	$border-radius-large:       6px !default;
	$border-radius-small:       3px !default;

// Viewports
// -------------------------
	$viewport-m: 32rem !default;
	$viewport-l: 48rem !default;

	$screen-xs: px2rem(320px) !default;
	$screen-sm: px2rem(480px) !default;
	$screen-md: px2rem(768px) !default;
	$screen-lg: px2rem(1024px) !default;
	$screen-xl: px2rem(1224px) !default;
	$screen-xxl: px2rem(1824px) !default;

// Grid System
// -------------------------
	$grid-full: 			  100%;
	$grid-half: 			  100% / 2;
	$grid-gutter: 			  px2rem(30px);

	$col-start:				  1;
	$col-end:				  12;
	$col-common:			  25, 40, 60, 75;

	// Grid Variables
	$num-cols: $col-end;
	$gutter-width: $grid-gutter;

	$element-top-margin: $gutter-width/3 !default;
	$element-bottom-margin: ($gutter-width*2)/3 !default;


