<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Conway's Game of Life</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/assets/img/global/favicon.png" type="image/png">
		<link rel="stylesheet" href="/assets/css/master.css">
	</head>
	<body>
		<!--[if lt IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!-- Main -->
		<main class="container">
			<%= contents %>
		</main>

		<script>
			window.le_app = {
				assets_path: "/assets/"
			};
		</script>
		<script src="http://localhost:35729/livereload.js"></script>
		<script src="/assets/js/bundle.js"></script>
	</body>
</html>
